# Data cleaning: Census 2021

In [1]:
import numpy as np
import pandas as pd
import re

In [ ]:
census2021 = pd.read_csv("/Users/ashademeij/Downloads/Spatial Statistics and Machine Learning/Project/neighbourhood2021.csv")
census2021 = census2021.drop(index=[0, 1]).reset_index(drop=True)
census2021.head()

In [3]:
census2021.set_index('Neighbourhood Name', inplace=True)
df_transposed = census2021.transpose()
df_transposed.columns = [re.sub(r'^\s+', '', col) for col in df_transposed.columns]
df_transposed.head()

,Total - Age groups of the population - 25% sample data,0 to 14 years,0 to 4 years,5 to 9 years,10 to 14 years,15 to 64 years,15 to 19 years,20 to 24 years,25 to 29 years,30 to 34 years,...,Between 9 a.m. and 11:59 a.m.,Between 12 p.m. and 4:59 a.m.,Total - Eligibility for instruction in the minority official language for the population in private households born in 2003 or later - 25% sample data,Children eligible for instruction in the minority official language,Children not eligible for instruction in the minority official language,"Total - Eligibility and instruction in the minority official language, for the population in private households born between 2003 and 2015 (inclusive) - 25% sample data",Children eligible for instruction in the minority official language,Eligible children who have been instructed in the minority official language at the primary or secondary level in Canada,Eligible children who have not been instructed in the minority official language at the primary or secondary level in Canada,Children not eligible for instruction in the minority official language
West Humber-Clairville,33300,4295,1460,1345,1485,23640,1860,3175,3585,2500,...,1665,2935,5430,410,5020,3875,335,255,75,3540
Mount Olive-Silverstone-Jamestown,31345,5690,1650,1860,2175,21490,2280,2675,2550,2170,...,1145,2965,7285,510,6780,5540,395,245,145,5145
Thistletown-Beaumond Heights,9850,1495,505,540,455,6615,570,745,880,670,...,395,635,1860,180,1685,1325,120,75,45,1205
Rexdale-Kipling,10375,1575,505,615,455,6950,515,715,785,695,...,425,775,1910,135,1770,1370,90,75,25,1275
Elms-Old Rexdale,9355,1610,440,480,685,6355,635,685,730,610,...,355,675,2015,95,1920,1520,70,60,10,1445

# Cleaning

In [4]:
len(df_transposed.columns)

2601

In [5]:
# this was just to find the indicies of some stuff i wanted to store
df_transposed.iloc[:, 1977:1978].head()


# high school = [1976, 1977]
# secondary diplomas = [1979, 1981]

                                  With high school diploma or equivalency certificate
West Humber-Clairville                                                         23435
Mount Olive-Silverstone-Jamestown                                              18280
Thistletown-Beaumond Heights                                                    6380
Rexdale-Kipling                                                                 6770
Elms-Old Rexdale                                                                5835

In [6]:
characteristics = [
    '0 to 4 years',
    '5 to 9 years',
    '10 to 14 years',
    '15 to 19 years',
    '20 to 24 years',
    '25 to 29 years',
    '30 to 34 years',
    '35 to 39 years',
    '40 to 44 years',
    '45 to 49 years',
    '50 to 54 years',
    '55 to 59 years',
    '60 to 64 years',
    '65 to 69 years',
    '70 to 74 years',
    '75 to 79 years',
    '80 to 84 years',
    '85 to 89 years',
    '90 to 94 years',
    '95 to 99 years',
    '100 years and over',
    'Married or living common-law',
    'Not married and not living common-law',
    'Total - Population aged 15 years and over by work activity during the reference year - 25% sample data',
    'Total - Total income groups in 2020 for the population aged 15 years and over in private households - 25% sample data',
    'Prevalence of low income based on the Low-income measure, after tax (LIM-AT) (%)',
    'Average household size',
    'One-parent-family households',
    'Two-or-more-person non-census-family households',
    'One-person households',
    'Single-detached house',
    'Semi-detached house',
    'Row house',
    'Apartment or flat in a duplex',
    'Apartment in a building that has fewer than five storeys',
    'Other single-attached house',
    'Apartment in a building that has five or more storeys',
    'Average household size',
    'One-parent-family households',
    'Two-or-more-person non-census-family households',
    'One-person households',
    'Owner',
    'Renter',
    'One person or fewer per room',
    'More than one person per room',
    'Suitable',
    'Not suitable',
    'Non-immigrants',
    'Immigrants',
    'Car, truck or van - as a driver',
    'Car, truck or van - as a passenger',
    'Public transit',
    'Walked',
    'Bicycle',
    'Other method'
]


salary = df_transposed.iloc[:, 277:293]
working = df_transposed.iloc[:, 1970:1972]

school = df_transposed.iloc[:, [1977, 1979, 1981]]

In [7]:
# Concatenating all  columns
final = pd.concat([df_transposed[characteristics], salary, working, school], axis=1)
print(final.shape)
final.head()

(158, 76)

,0 to 4 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 29 years,30 to 34 years,35 to 39 years,40 to 44 years,45 to 49 years,...,"$60,000 to $69,999","$70,000 to $79,999","$80,000 to $89,999","$90,000 to $99,999","$100,000 and over",Did not work,Worked,With high school diploma or equivalency certificate,"No certificate, diploma or degree","Postsecondary certificate, diploma or degree"
West Humber-Clairville,1460,1345,1485,1860,3175,3585,2500,2170,1860,1980,...,875,855,735,860,3940,11940,17055,23435,5305,15245
Mount Olive-Silverstone-Jamestown,1650,1860,2175,2280,2675,2550,2170,1955,1950,2075,...,950,965,735,670,2575,12420,13245,18280,7130,10755
Thistletown-Beaumond Heights,505,540,455,570,745,880,670,620,540,570,...,285,245,220,225,1135,3795,4555,6380,1860,4125
Rexdale-Kipling,505,615,455,515,715,785,695,650,655,655,...,240,310,260,245,1195,3740,5065,6770,1870,4210
Elms-Old Rexdale,440,480,685,635,685,730,610,585,555,535,...,340,260,210,245,975,3595,4150,5835,1755,3355

# Rename columns such that they are compatible w the other files

In [8]:
# Delete some cols that i included in the ranges:
duplicate_columns = final.columns[final.columns.duplicated()]
final = final.loc[:, ~final.columns.duplicated()]
final.shape

(158, 72)

In [9]:
# merge cols to 'other dwellings'
dwelling_columns = ['Semi-detached house', 'Row house', 
                    'Apartment or flat in a duplex', 'Apartment in a building that has fewer than five storeys', 
                    'Other single-attached house']

final['other_dwelling'] = final[dwelling_columns].sum(axis=1)

final.drop(columns=dwelling_columns, inplace=True)
final.shape

(158, 68)

In [10]:
# merging of some salaries
final['income_between_20000_29999'] = final['$20,000 to $24,999'] + final['$25,000 to $29,999'] 
final['income_between_30000_39999'] = final['$30,000 to $34,999'] + final['$35,000 to $39,999'] 
final['income_between_40000_49999'] = final['$40,000 to $44,999'] + final['$45,000 to $49,999'] 
final['income_between_40000_49999'] = final['$40,000 to $44,999'] + final['$45,000 to $49,999'] 


final['income_between_60000_79999'] = final['$60,000 to $69,999'] + final['$70,000 to $79,999'] 
final['income_between_80000_99999'] = final['$80,000 to $89,999'] + final['$90,000 to $99,999'] 


# Drop the original columns
final.drop(columns=['$20,000 to $24,999', '$25,000 to $29,999', '$30,000 to $34,999', '$35,000 to $39,999', '$40,000 to $44,999',
                    '$45,000 to $49,999', '$60,000 to $69,999', '$70,000 to $79,999', '$80,000 to $89,999', '$90,000 to $99,999'], inplace=True)

print(final.shape)
final.head()

(158, 63)

,0 to 4 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 29 years,30 to 34 years,35 to 39 years,40 to 44 years,45 to 49 years,...,Worked,With high school diploma or equivalency certificate,"No certificate, diploma or degree","Postsecondary certificate, diploma or degree",other_dwelling,income_between_20000_29999,income_between_30000_39999,income_between_40000_49999,income_between_60000_79999,income_between_80000_99999
West Humber-Clairville,1460,1345,1485,1860,3175,3585,2500,2170,1860,1980,...,17055,23435,5305,15245,3.351380e+15,315285,430315,425380,875855,735860
Mount Olive-Silverstone-Jamestown,1650,1860,2175,2280,2675,2550,2170,1955,1950,2075,...,13245,18280,7130,10755,1.551061e+12,420370,360425,410490,950965,735670
Thistletown-Beaumond Heights,505,540,455,570,745,880,670,620,540,570,...,4555,6380,1860,4125,3.255532e+11,135130,125160,115145,285245,220225
Rexdale-Kipling,505,615,455,515,715,785,695,650,655,655,...,5065,6770,1870,4210,3.040547e+11,245200,145160,200175,240310,260245
Elms-Old Rexdale,440,480,685,635,685,730,610,585,555,535,...,4150,5835,1755,3355,6.047520e+10,140100,120110,150100,340260,210245

In [11]:
pd.set_option('display.max_columns', None)
print(final.columns.tolist())

['0 to 4 years', '5 to 9 years', '10 to 14 years', '15 to 19 years', '20 to 24 years', '25 to 29 years', '30 to 34 years', '35 to 39 years', '40 to 44 years', '45 to 49 years', '50 to 54 years', '55 to 59 years', '60 to 64 years', '65 to 69 years', '70 to 74 years', '75 to 79 years', '80 to 84 years', '85 to 89 years', '90 to 94 years', '95 to 99 years', '100 years and over', 'Married or living common-law', 'Not married and not living common-law', 'Total - Population aged 15 years and over by work activity during the reference year - 25% sample data', 'Total - Total income groups in 2020 for the population aged 15 years and over in private households - 25% sample data', 'Prevalence of low income based on the Low-income measure, after tax (LIM-AT) (%)', 'Average household size', 'One-parent-family households', 'Two-or-more-person non-census-family households', 'One-person households', 'Single-detached house', 'Apartment in a building that has five or more storeys', 'Owner', 'Renter', 'One person or fewer per room', 'More than one person per room', 'Suitable', 'Not suitable', 'Non-immigrants', 'Immigrants', 'Car, truck or van - as a driver', 'Car, truck or van - as a passenger', 'Public transit', 'Walked', 'Bicycle', 'Other method', 'Under $5,000', '$5,000 to $9,999', '$10,000 to $14,999', '$15,000 to $19,999', '$50,000 to $59,999', '$100,000 and over', 'Did not work', 'Worked', 'With high school diploma or equivalency certificate', 'No certificate, diploma or degree', 'Postsecondary certificate, diploma or degree', 'other_dwelling', 'income_between_20000_29999', 'income_between_30000_39999', 'income_between_40000_49999', 'income_between_60000_79999', 'income_between_80000_99999']

In [12]:
column_names = {
    '0 to 4 years': 'pop_0_to_4',
    '5 to 9 years': 'pop_5_to_9',
    '10 to 14 years': 'pop_10_to_14',
    '15 to 19 years': 'pop_15_to_19',
    '20 to 24 years': 'pop_20_to_24',
    '25 to 29 years': 'pop_25_to_29',
    '30 to 34 years': 'pop_30_to_34',
    '35 to 39 years': 'pop_35_to_39',
    '40 to 44 years': 'pop_40_to_44',
    '45 to 49 years': 'pop_45_to_49',
    '50 to 54 years': 'pop_50_to_54',
    '55 to 59 years': 'pop_55_to_59',
    '60 to 64 years': 'pop_60_to_64',
    '65 to 69 years': 'pop_65_to_69',
    '70 to 74 years': 'pop_70_to_74',
    '75 to 79 years': 'pop_75_to_79',
    '80 to 84 years': 'pop_80_to_84',
    '85 to 89 years': 'pop_85_to_89',
    '90 to 94 years': 'pop_90_to_94',
    '95 to 99 years': 'pop_95_to_99',

    '100 years and over': 'pop_100_plus',
    'Married or living common-law' : 'married',
    'Not married and not living common-law' : 'not_married',

    'Total - Population aged 15 years and over by work activity during the reference year - 25% sample data': 'total_work_activity',
    'Total - Total income groups in 2020 for the population aged 15 years and over in private households - 25% sample data': 'household_income',
    'Prevalence of low income based on the Low-income measure, after tax (LIM-AT) (%)' : 'low_income_percent',

    'Average household size': 'avg_household_size',
    'One-parent-family households': 'single_parents',
    'Two-or-more-person non-census-family households': 'two_plus_person_household',
    'One-person households': 'one_person_household',

    'Single-detached house': 'single_detached_house',
    'Apartment in a building that has five or more storeys': 'apart_5_plus',

    'One person or fewer per room': 'own_room',
    'More than one person per room': 'sharing_room',
    'Suitable': 'suitable_housing',
    'Not suitable': 'not_suitable_housing',
    'Non-immigrants': 'non_immigrants',

    'Car, truck or van - as a driver': 'commute_drives',
    'Car, truck or van - as a passenger': 'commute_passenger',
    'Public transit': 'commute_public_transport',
    'Walked': 'commute_walk',
    'Bicycle': 'commute_cycle',
    'Other method': 'commute_other',


    'Under $5,000' : 'income_under_5000',
    '$5,000 to $9,999' : 'income_between_5000_9999',
    '$10,000 to $14,999' : 'income_between_10000_14999',
    '$15,000 to $19,999' : 'income_between_15000_19999',

    '$50,000 to $59,999': 'income_between_50000_59999',    
    '$100,000 and over' : 'income_above_100k',


    'Did not work' : 'unemployed',
    'Worked' : 'employed',

    'With high school diploma or equivalency certificate': 'highschool_diploma',
    'No certificate, diploma or degree': 'no_certificate_diploma_degree', 
    'Postsecondary certificate, diploma or degree': 'post_secondary_diploma'


}

In [13]:
final.rename(columns=column_names, inplace=True)
final.head()

,pop_0_to_4,pop_5_to_9,pop_10_to_14,pop_15_to_19,pop_20_to_24,pop_25_to_29,pop_30_to_34,pop_35_to_39,pop_40_to_44,pop_45_to_49,pop_50_to_54,pop_55_to_59,pop_60_to_64,pop_65_to_69,pop_70_to_74,pop_75_to_79,pop_80_to_84,pop_85_to_89,pop_90_to_94,pop_95_to_99,pop_100_plus,married,not_married,total_work_activity,household_income,low_income_percent,avg_household_size,single_parents,two_plus_person_household,one_person_household,single_detached_house,apart_5_plus,Owner,Renter,own_room,sharing_room,suitable_housing,not_suitable_housing,non_immigrants,Immigrants,commute_drives,commute_passenger,commute_public_transport,commute_walk,commute_cycle,commute_other,income_under_5000,income_between_5000_9999,income_between_10000_14999,income_between_15000_19999,income_between_50000_59999,income_above_100k,unemployed,employed,highschool_diploma,no_certificate_diploma_degree,post_secondary_diploma,other_dwelling,income_between_20000_29999,income_between_30000_39999,income_between_40000_49999,income_between_60000_79999,income_between_80000_99999
West Humber-Clairville,1460,1345,1485,1860,3175,3585,2500,2170,1860,1980,2035,2280,2195,1615,1475,955,750,380,150,30,10,14320,14680,29000,29000,8.7,3.1,1330,885,1990,3930,2510,6995,3705,9710,990,8750,1950,11805,18805,8190,1075,3110,255,80,215,90,50,120,145,875,3940,11940,17055,23435,5305,15245,3.351380e+15,315285,430315,425380,875855,735860
Mount Olive-Silverstone-Jamestown,1650,1860,2175,2280,2675,2550,2170,1955,1950,2075,2140,1975,1715,1390,1115,720,495,335,95,20,0,12045,13615,25655,25660,15.6,3.2,1630,700,1660,1640,6040,4485,5260,7940,1800,6710,3030,9620,19810,6395,1005,2235,255,10,220,50,80,130,140,965,2575,12420,13245,18280,7130,10755,1.551061e+12,420370,360425,410490,950965,735670
Thistletown-Beaumond Heights,505,540,455,570,745,880,670,620,540,570,690,770,550,500,415,325,255,165,70,10,0,4150,4205,8350,8355,11.8,3,420,230,660,1580,660,2025,1220,2980,260,2740,500,4055,5210,2255,280,660,45,20,110,20,15,40,35,215,1135,3795,4555,6380,1860,4125,3.255532e+11,135130,125160,115145,285245,220225
Rexdale-Kipling,505,615,455,515,715,785,695,650,655,655,745,765,765,570,485,340,230,150,70,0,0,4160,4640,8805,8800,13.5,2.6,565,175,1145,1765,630,1990,1955,3690,255,3370,575,5080,4820,2360,300,830,105,10,80,35,30,95,90,320,1195,3740,5065,6770,1870,4210,3.040547e+11,245200,145160,200175,240310,260245
Elms-Old Rexdale,440,480,685,635,685,730,610,585,555,535,665,720,640,470,320,255,160,125,35,30,0,3400,4340,7745,7745,12.4,2.9,640,170,660,1000,1395,1760,1430,2910,280,2620,575,4515,4600,1920,245,615,85,0,85,35,0,45,30,315,975,3595,4150,5835,1755,3355,6.047520e+10,140100,120110,150100,340260,210245

In [14]:
# convert everything to loewer case and saveee
final = final.applymap(lambda x: x.lower() if isinstance(x, str) else x)
final.columns = final.columns.str.lower()


final.to_csv('census2021.csv', index=True)

# Mapping old neighbourhoods to new ones

In [16]:
census2021 = pd.read_csv("/Users/ashademeij/Downloads/Spatial Statistics and Machine Learning/Project/census2021.csv")
census2021.rename(columns={'Unnamed: 0': 'Neighbourhoods'}, inplace=True)

In [17]:
names = pd.read_csv("/Users/ashademeij/Downloads/Spatial Statistics and Machine Learning/Project/neighbourhoods.csv")
names = names.drop(columns=['Unnamed: 0'])
names.head()

         past_neighbourhood_158                neighbourhood
0               Agincourt North              agincourt north
1  Agincourt South-Malvern West  agincourt southmalvern west
2                     Alderwood                    alderwood
3                         Annex                        annex
4                      Avondale              willowdale east

In [18]:
# create dictionary old vs new
name_mapping = dict(zip(names['past_neighbourhood_158'], names['neighbourhood']))
census2021['Neighbourhoods'] = census2021['Neighbourhoods'].map(name_mapping).fillna(census2021['Neighbourhoods'])

census2021.head()

,Neighbourhoods,pop_0_to_4,pop_5_to_9,pop_10_to_14,pop_15_to_19,pop_20_to_24,pop_25_to_29,pop_30_to_34,pop_35_to_39,pop_40_to_44,pop_45_to_49,pop_50_to_54,pop_55_to_59,pop_60_to_64,pop_65_to_69,pop_70_to_74,pop_75_to_79,pop_80_to_84,pop_85_to_89,pop_90_to_94,pop_95_to_99,pop_100_plus,married,not_married,total_work_activity,household_income,low_income_percent,avg_household_size,single_parents,two_plus_person_household,one_person_household,single_detached_house,apart_5_plus,owner,renter,own_room,sharing_room,suitable_housing,not_suitable_housing,non_immigrants,immigrants,commute_drives,commute_passenger,commute_public_transport,commute_walk,commute_cycle,commute_other,income_under_5000,income_between_5000_9999,income_between_10000_14999,income_between_15000_19999,income_between_50000_59999,income_above_100k,unemployed,employed,highschool_diploma,no_certificate_diploma_degree,post_secondary_diploma,other_dwelling,income_between_20000_29999,income_between_30000_39999,income_between_40000_49999,income_between_60000_79999,income_between_80000_99999
0,west humberclairville,1460,1345,1485,1860,3175,3585,2500,2170,1860,1980,2035,2280,2195,1615,1475,955,750,380,150,30,10,14320,14680,29000,29000,8.7,3.1,1330,885,1990,3930,2510,6995,3705,9710,990,8750,1950,11805,18805,8190,1075,3110,255,80,215,90,50,120,145,875,3940,11940,17055,23435,5305,15245,3.351380e+15,315285,430315,425380,875855,735860
1,mount olivesilverstonejamestown,1650,1860,2175,2280,2675,2550,2170,1955,1950,2075,2140,1975,1715,1390,1115,720,495,335,95,20,0,12045,13615,25655,25660,15.6,3.2,1630,700,1660,1640,6040,4485,5260,7940,1800,6710,3030,9620,19810,6395,1005,2235,255,10,220,50,80,130,140,965,2575,12420,13245,18280,7130,10755,1.551061e+12,420370,360425,410490,950965,735670
2,thistletownbeaumond heights,505,540,455,570,745,880,670,620,540,570,690,770,550,500,415,325,255,165,70,10,0,4150,4205,8350,8355,11.8,3.0,420,230,660,1580,660,2025,1220,2980,260,2740,500,4055,5210,2255,280,660,45,20,110,20,15,40,35,215,1135,3795,4555,6380,1860,4125,3.255532e+11,135130,125160,115145,285245,220225
3,rexdalekipling,505,615,455,515,715,785,695,650,655,655,745,765,765,570,485,340,230,150,70,0,0,4160,4640,8805,8800,13.5,2.6,565,175,1145,1765,630,1990,1955,3690,255,3370,575,5080,4820,2360,300,830,105,10,80,35,30,95,90,320,1195,3740,5065,6770,1870,4210,3.040547e+11,245200,145160,200175,240310,260245
4,elmsold rexdale,440,480,685,635,685,730,610,585,555,535,665,720,640,470,320,255,160,125,35,30,0,3400,4340,7745,7745,12.4,2.9,640,170,660,1000,1395,1760,1430,2910,280,2620,575,4515,4600,1920,245,615,85,0,85,35,0,45,30,315,975,3595,4150,5835,1755,3355,6.047520e+10,140100,120110,150100,340260,210245

In [19]:
census2021 = census2021.groupby('Neighbourhoods').sum()
census2021 = census2021.reset_index()
print(census2021.shape)
census2021.head()

(140, 64)

,Neighbourhoods,pop_0_to_4,pop_5_to_9,pop_10_to_14,pop_15_to_19,pop_20_to_24,pop_25_to_29,pop_30_to_34,pop_35_to_39,pop_40_to_44,pop_45_to_49,pop_50_to_54,pop_55_to_59,pop_60_to_64,pop_65_to_69,pop_70_to_74,pop_75_to_79,pop_80_to_84,pop_85_to_89,pop_90_to_94,pop_95_to_99,pop_100_plus,married,not_married,total_work_activity,household_income,low_income_percent,avg_household_size,single_parents,two_plus_person_household,one_person_household,single_detached_house,apart_5_plus,owner,renter,own_room,sharing_room,suitable_housing,not_suitable_housing,non_immigrants,immigrants,commute_drives,commute_passenger,commute_public_transport,commute_walk,commute_cycle,commute_other,income_under_5000,income_between_5000_9999,income_between_10000_14999,income_between_15000_19999,income_between_50000_59999,income_above_100k,unemployed,employed,highschool_diploma,no_certificate_diploma_degree,post_secondary_diploma,other_dwelling,income_between_20000_29999,income_between_30000_39999,income_between_40000_49999,income_between_60000_79999,income_between_80000_99999
0,Cabbagetown-South St. James Town,380,280,235,300,550,920,1045,925,835,745,825,1015,830,615,605,430,265,120,75,10,0,4750,5370,10120,10120,15.0,1.8,315,485,3060,165,3215,2790,3405,6045,160,5745,450,6775,3805,755,155,785,865,260,135,125,65,135,180,505,1910,3320,6805,9340,730,7405,4.606302e+14,455315,200325,245250,425385,330350
1,Danforth-East York,1015,1155,905,770,665,755,1160,1505,1585,1315,1225,1175,995,910,765,380,410,210,125,20,10,8150,5845,13995,13990,9.3,2.5,655,275,1960,2895,845,4805,2145,6800,145,6520,425,11280,5490,2075,215,1175,435,170,150,50,35,75,135,410,2960,4705,9290,11645,2215,8960,1.750355e+13,405210,260245,290200,400480,400405
2,East End Danforth,1170,1340,1225,1060,1040,1255,1610,1935,1810,1680,1705,1745,1285,1095,890,525,250,160,60,10,0,9860,8240,18105,18105,11.9,2.3,925,405,3225,1780,2240,5190,4310,9215,285,8750,750,15415,5945,2565,325,1640,595,185,190,115,75,225,290,690,3725,5880,12220,15700,2175,12125,1.970566e+15,545385,365300,300410,535570,535425
3,North St. James Town,725,805,645,690,1225,2115,2455,1860,1450,1165,1265,1220,1020,670,575,330,180,100,40,15,0,6850,9525,16370,16370,21.9,2.0,740,1120,4385,10,8855,1060,8470,8350,1180,7415,2110,6905,9780,1320,220,2660,1040,315,205,225,125,405,310,845,1590,5885,10485,14215,1950,10675,1.102053e+08,830620,460490,470485,900770,600405
4,O`Connor Parkview,935,1020,950,1070,1110,1180,1195,1235,1385,1080,1410,1420,1320,1005,775,515,380,245,135,25,0,7705,7800,15500,15500,13.6,2.5,925,400,2330,3020,2350,3410,4045,6935,520,6315,1140,10580,7155,2940,355,1380,260,80,180,90,50,110,205,700,2375,6575,8925,12535,2745,8500,1.701603e+13,390310,340290,340350,590505,455360

In [20]:
census2021.to_csv('census2021.csv', index=True)

In [9]:
census2021 = pd.read_csv('data/census2021.csv', index_col=1)
census2021.drop(columns=['Unnamed: 0'], inplace=True)
census2021.head()

,pop_0_to_4,pop_5_to_9,pop_10_to_14,pop_15_to_19,pop_20_to_24,pop_25_to_29,pop_30_to_34,pop_35_to_39,pop_40_to_44,pop_45_to_49,...,employed,highschool_diploma,no_certificate_diploma_degree,post_secondary_diploma,other_dwelling,income_between_20000_29999,income_between_30000_39999,income_between_40000_49999,income_between_60000_79999,income_between_80000_99999
Neighbourhoods,,,,,,,,,,,,,,,,,,,,,
Cabbagetown-South St. James Town,380,280,235,300,550,920,1045,925,835,745,...,6805,9340,730,7405,4.606302e+14,455315,200325,245250,425385,330350
Danforth-East York,1015,1155,905,770,665,755,1160,1505,1585,1315,...,9290,11645,2215,8960,1.750355e+13,405210,260245,290200,400480,400405
East End Danforth,1170,1340,1225,1060,1040,1255,1610,1935,1810,1680,...,12220,15700,2175,12125,1.970566e+15,545385,365300,300410,535570,535425
North St. James Town,725,805,645,690,1225,2115,2455,1860,1450,1165,...,10485,14215,1950,10675,1.102053e+08,830620,460490,470485,900770,600405
O`Connor Parkview,935,1020,950,1070,1110,1180,1195,1235,1385,1080,...,8925,12535,2745,8500,1.701603e+13,390310,340290,340350,590505,455360

In [10]:
import string

In [11]:
census2021.index = census2021.index.str.lower()
census2021.index = census2021.index.map(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

In [14]:
census2021.to_csv('data/census2021.csv', index=True)