In [46]:
import pandas as pd
import json

# Data Cleaning

In [33]:
def extract_info(row):
    parts = row.split(' · ')
    description = parts[0]
    stars = ''
    bedrooms = ''
    beds = ''
    bathrooms = ''
    
    for part in parts[1:]:
        if '★' in part:
            stars = part
            stars = part.replace('★', '')
        elif 'bedroom' in part:
            bedrooms = part
        elif 'beds' in part or 'bed' in part:
            beds = part
        elif 'bath' in part:
            bathrooms = part
    
    return pd.Series([description, stars, bedrooms, beds, bathrooms])

## Amsterdam

In [34]:
amsterdam_listings = pd.read_csv('data/airbnb/amsterdam/listings.csv')
amsterdam_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Condo in Amsterdam · ★4.90 · 1 bedroom · 2 bed...,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,69.0,3,365,2023-11-27,2.04,1,0,51,0363 5F3A 5684 6750 D14D
1,20168,Townhouse in Amsterdam · ★4.44 · 1 bedroom · 1...,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,117.0,1,366,2023-12-10,2.18,2,168,30,0363 CBB3 2C10 0C2A 1E29
2,27886,Houseboat in Amsterdam · ★4.93 · 1 bedroom · 1...,97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,155.0,3,267,2023-11-19,1.84,1,175,24,0363 974D 4986 7411 88D8
3,28871,Rental unit in Amsterdam · ★4.87 · 1 bedroom ·...,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,79.0,2,569,2023-12-10,3.51,2,0,116,0363 607B EA74 0BD8 2F6F
4,29051,Rental unit in Amsterdam · ★4.81 · 1 bedroom ·...,124245,Edwin,NaN,Centrum-Oost,52.36584,4.89111,Private room,59.0,2,698,2023-12-08,4.50,2,91,97,0363 607B EA74 0BD8 2F6F

In [35]:
amsterdam_listings[['description', 'stars', 'bedrooms', 'beds', 'bathrooms']] = amsterdam_listings['name'].apply(lambda x: pd.Series(extract_info(x)))

In [41]:
# Count the number of null values in each column
null_counts = amsterdam_listings.isnull().sum()
print(null_counts)

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               8739
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              296
minimum_nights                       0
number_of_reviews                    0
last_review                        922
reviews_per_month                  922
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                             78
description                          0
stars                                0
bedrooms                             0
beds                                 0
bathrooms                            0
dtype: int64

In [42]:
amsterdam_listings = amsterdam_listings.dropna(subset=['price'])
amsterdam_listings.drop(columns=['neighbourhood_group', 'license', 'last_review', 'reviews_per_month'], inplace=True)

In [43]:
amsterdam_listings.to_csv('data/airbnb/amsterdam/listings_cleaned.csv', index=False)

## Barcelona

In [37]:
barcelona_listings = pd.read_csv('data/airbnb/barcelona/listings.csv')
barcelona_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,17475,Rental unit in 08013 Barcelona · ★4.40 · 1 bed...,65623,Luca,Eixample,la Dreta de l'Eixample,41.399390,2.17044,Entire home/apt,140.0,5,26,2023-12-04,0.16,1,32,9,NaN
1,18674,Rental unit in Barcelona · ★4.33 · 3 bedrooms ...,71615,Mireia Maria,Eixample,la Sagrada Família,41.405560,2.17262,Entire home/apt,121.0,1,40,2023-11-07,0.31,30,39,7,HUTB-002062
2,198958,Rental unit in Barcelona · ★4.69 · 4 bedrooms ...,971768,Laura,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,41.408050,2.21487,Entire home/apt,304.0,2,105,2023-10-16,0.74,9,137,26,HUTB-000926
3,23197,Rental unit in Sant Adria de Besos · ★4.77 · 3...,90417,Etain (Marnie),Sant Martí,el Besòs i el Maresme,41.412432,2.21975,Entire home/apt,200.0,3,75,2023-11-25,0.48,2,300,11,HUTB005057
4,32711,Rental unit in Barcelona · ★4.48 · 2 bedrooms ...,135703,Nick,Gràcia,el Camp d'en Grassot i Gràcia Nova,41.405660,2.17015,Entire home/apt,79.0,1,99,2023-10-18,0.66,3,297,16,HUTB-001722

In [38]:
barcelona_listings[['description', 'stars', 'bedrooms', 'beds', 'bathrooms']] = barcelona_listings['name'].apply(lambda x: pd.Series(extract_info(x)))
barcelona_listings.to_csv('data/airbnb/barcelona/listings_cleaned.csv', index=False)

## Euskadi

In [59]:
euskadi_listings = pd.read_csv('data/airbnb/euskadi/listings.csv')
euskadi_listings[['description', 'stars', 'bedrooms', 'beds', 'bathrooms']] = euskadi_listings['name'].apply(lambda x: pd.Series(extract_info(x)))
euskadi_listings.to_csv('data/airbnb/euskadi/listings_cleaned.csv', index=False)

## Girona

In [63]:
girona_listings = pd.read_csv('data/airbnb/girona/listings.csv')
girona_listings[['description', 'stars', 'bedrooms', 'beds', 'bathrooms']] = girona_listings['name'].apply(lambda x: pd.Series(extract_info(x)))
girona_listings.to_csv('data/airbnb/girona/listings_cleaned.csv', index=False)